<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloo Chatroom!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="chat">
      <h1>Welcome to<br><br>
        Bloo Chat!</h1>
      <form id="chatForm">
        <input name="uname" id="txt1" autocomplete="off" autofocus="on" placeholder="username"/>
        <button id="join">Join</button>
        <input name="password" id="txt2" autocomplete="off" autofocus="on" placeholder="password"/>
      </form>
        <fieldset>
      <legend> &nbsp&nbsp Register new account! &nbsp&nbsp</legend>
      <label>
        &nbsp Username: <input type="txt" id="newName" name="month" placeholder="enter username here">
      </label>
      <label>
        &nbsp Password: <input type="txt" id="newPass" name="year" placeholder="enter password">
      </label>
      <button id="submit">&nbspRegistar&nbsp</button>
    </fieldset>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="users.js"></script>
  </body>
</html>